Repository eikek/sharry, pull requests merged in 2024-09, with the labels that each got.

#1485 Add a max-page-size config option and paging for search results
  modules/backend/src/main/scala/sharry/backend/share/OShare.scala
  modules/backend/src/main/scala/sharry/backend/share/Queries.scala
  modules/common/src/main/scala/sharry/common/Page.scala
  modules/restapi/src/main/resources/sharry-openapi.yml
  modules/restserver/src/main/resources/reference.conf
  modules/restserver/src/main/scala/sharry/restserver/RestServer.scala
  modules/restserver/src/main/scala/sharry/restserver/config/Config.scala
  modules/restserver/src/main/scala/sharry/restserver/config/ConfigValues.scala
  modules/restserver/src/main/scala/sharry/restserver/routes/AccountRoutes.scala
  modules/restserver/src/main/scala/sharry/restserver/routes/AliasMemberRoutes.scala
  modules/restserver/src/main/scala/sharry/restserver/routes/AliasRoutes.scala
  modules/restserver/src/main/scala/sharry/restserver/routes/Params.scala
  modules/restserver/src/main/scala/sharry/restserver/routes/ShareRoutes.scala
Labels: enhancement

#1495 Add a `meta.mainProgram` to fix `nix run`
  nix/meta.nix
Labels: fix, nix

#1501 docker/sharry.dockerfile: create user 10001 and set USER to this uid
  docker/sharry.dockerfile
Labels: enhancement, docker

#1500 add a healthcheck for the db and change the depends_on to wait for condition service_healthy
  docker/docker-compose.yml
Labels: docker, fix
